<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org" xmlns:sec=http://www.thymeleaf.org/thymeleaf-extrasspringsecurity6>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sherlock App</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style-login.css">
</head>
<body>
<div class="header">
    <img src="icon.png" alt="Logo">
    <h1>Sherlock APP</h1>
</div>
<div class="container">
    <!-- Check for login error -->
    <hr>
    <div th:if="${param.error}">
        <div class="alert alert-danger col-xs-offset-1 col-xs-10">
            Invalid username and password.
        </div>
    </div>
    <!-- Check for logout -->
    <div th:if="${param.logout}">
        <div class="alert alert-success col-xs-offset-1 col-xs-10">
            You have been logged out.
        </div>
    </div>
    <div class="row justify-content-center login-container">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Login</h2>
                    <form action="#" th:action="@{/login}" method="POST">
                        <div class="mb-3">
                            <label for="username" class="form-label">Username or E-mail:</label>
                            <input type="text" id="username" name="username" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password:</label>
                            <input type="password" id="password" name="password" class="form-control">
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </form>
                    <div class="link-container">
                        <a class="link-primary" th:href="@{/signup-page}">Don't have an account yet? Sign up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<div class="footer" id="footer">
    <div class="footer-content">
        <img src="icon.png" alt="Logo">
        <h4>Sherlock APP</h4>
        <i style="font-size:16px" class="fa">&#xf0e0;</i>&nbsphelp@sherlockapp.com

        <p>&copy; 2024 Sherlock APP. All rights reserved.</p>
    </div>
</div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $(window).scroll(function(){
            if ($(window).scrollTop() + $(window).height() > $(document).height() - 100) {
                $('#footer').fadeIn();
            } else {
                $('#footer').fadeOut();
            }
        });
    });
</script>
</body>
</html>